#divVista1{
	background-color: pink;
}
#divVista2{
	background-color: deepskyblue;
}
#divVista3{
	background-color: darkgray;
}
#divVista4{
	background-color: yellow;
}
#divVista5{
	background-color: green;
}
#divVista7{
	background-color: orange;
}

body > div {
    display: none;
}

a {
    cursor: pointer;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

#gameContainer {
    min-height: 300px;
    position: relative; /* Añade posición relativa al contenedor para que el posición absoluta del barco sea relativa a este */
    width: 80%; /* Cambia el ancho según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
    height: 200px; /* Ajusta la altura según tus necesidades */
}

#gameContainer > #barco {
    position: absolute;
    bottom: 0; /* Posiciona el barco en la parte inferior del contenedor */
    width: 10%;
}

.apple {
    position: absolute;
	z-index: 0;
}
