@charset "UTF-8";
/* Estilos generales de la página */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Linefont:wght@100&display=swap");

body {
  font-size: 13px;
  background-color: #488531;
  padding: 1% 0;
  font-family: Fredoka;
  color: #EDC713;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Estilos del formulario de datos del ranking */
form {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input[type="text"], form > input[type="file"] {
  margin-bottom: 10px;
  font-size: 1.5em;
}

form > input[type=submit] , #btnVolver{
  margin-top: 2%;
  border: solid 1px black;
  border-radius: 9px;
  color: #EDC713;
  background-color: #6D3916;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  font-family: Fredoka;
}

form > input[type=submit]:hover {
  background-color: #85471f;
}

/*Estilo común para los botones*/

a, main > input[type=submit], button {
  cursor: pointer;
  font-size: 1.4em;
  width: 30%;
  padding: 2%;
  display: inline;
  text-decoration: none;
}

button:hover {
  background-color: #85471f;
}

/* Estilo en común de los select */
select {
  padding: 2% 3%;
  font-size: 0.7em;
  color: #EDC713;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #6D3916;
  cursor: pointer;
  font-family: Fredoka;
  margin: 2% 0%;
}

select:hover {
  background-color: #85471f;
}

option {
  font-family: Fredoka;
  font-size: 1.5em;
}

/* Estilos del header donde va el logo */
header {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

header > img {
  width: 200px;
  margin: 0 auto 1%;
  /* box-shadow: 2px 7px 16px 5px rgba(0,0,0,0.28); */
}

/*Navegador*/
nav {
  width: 50%;
  margin: 2% auto;
  text-align: center;
}

nav > a { /*Estilos de los enlaces del navegador*/
  margin: 0% 2%;
  padding: 1% 2%;
  font-size: 1.4em;
  box-shadow: 2px 7px 16px 5px rgba(0, 0, 0, 0.28);

}

/* Estilos del menú y pantalla de configuración antes de empezar */
#menu {
  background-color: #326F1E;
  font-size: 1.4em;
  text-align: justify;
  border-radius: 30px;
  border: solid 2px;
  padding: 2%;
  width: 45%;
  min-height: 100px;
  margin: 0 auto;
  overflow: visible;
  box-shadow: 2px 7px 16px 5px rgba(0, 0, 0, 0.28);
}

#menu > p{
  padding: 10px;
  line-height: 1.1;
}

#menu > p > p{
  text-align: center;
}

/*Aspecto alargado de algunos enlaces*/
#menu > a {
  display: block;
  width: 40%;
  margin: 7% auto 0;
}

#volverMoverMensaje {
  display: block;
  width: 20%;
  margin: 6% auto 0;
}

/*MAIN*/
/* Estilos de las secciones main de la página */
/*Main pagina anadirNiveles*/
#configMensajes,
#gestionNiveles,
#movMsg,
#niveles,
#gestorPowerup,
#gestor,
#gestorM {
  background-color: #326F1E;
  font-size: 1.4em;
  text-align: center;
  border-radius: 30px;
  border: solid 2px;
  padding-bottom: 3%;
  width: 85%;
  margin: 0 auto;
  box-shadow: 2px 7px 16px 5px rgba(0, 0, 0, 0.28);
}

#anadirNiveles,
#configMensajes {
  width: 50%; /*Pongo un tamaño en específico para ocasiones determinadas como configMensajes y añadirNiveles en donde quedaba mucho espacio libre*/
}

/* Estilos de los enlaces en las secciones */
#botonMasConfigNiveles,
#botonMasConfigNiveles,
#anadirNiveles > a,
#gestionNiveles > a,
#niveles > a,
#gestor > a,
#gestorM > a,
#gestorPowerup > a,
#gestorPowerup > a,
#menu > a,
nav > a,
main > form > #btnVolver{
  text-decoration: none;
  padding: 0.6%;
  border: solid 1px black;
  border-radius: 9px;
  color: #EDC713;
  background-color: #6D3916;
}

#gestor > a:nth-child(2) {
  left: 32.5%;
  width: 4%;
  display: inline-block;
  left: 32.5%;
  width: 4%;
}


/* Posicionamiento relativo para los enlaces de las diferentes secciones */
#niveles > a,
#gestor > a,
#gestorPowerup > a,
#gestorM > a {
  position: relative;
}

h1{
  margin-top: 50px;
  padding: 20px;
}

/* Posicionamiento específico de enlaces en la sección "gestor" (boton volver)*/
#niveles > a,
#gestorPowerup > a,
#gestor > a {
  right: 28.3%;
  bottom: 20px;
}

#gestor  > #botonPorDefecto{
  right: 0%;
  top: 25px;
  bottom: 0px;
}

/*Boton + pagina configuracionNiveles*/
#botonMasConfigNiveles {
  position: relative;
  left: 32.5%;
  width: 4%;
  display: inline-block;
  right: 28.3%;
  bottom: 20px;
}

/*Quitar linea de enlace de los emoticonos (papelera, lapiz...) en las tablas*/
#gestionNiveles table a,
#niveles > table a,
#gestorPowerup > table a,
#gestor > table a {
  text-decoration: none; /*Usado para quitar la decoracion de un enlace*/
}
/* 
    --------------------------ESTILOS TABLAS-----------------------------------
*/
table {
  background-color: #6D3916;
  margin: 0 auto 2%;
  border: solid 1px black;
  border-collapse: collapse;
  box-shadow: 2px 7px 16px 5px rgba(0, 0, 0, 0.28);
  width: 85%;
}

th,
td {
  border: solid 1px black;
  padding: 1.5%;
  text-align: center;
  vertical-align: middle;
}
#gestorM > a {
  right: 42%;
  top: 45px;
  right: 42%;
  top: 45px;
}

.btnQuitarFila {
  background-color: transparent;
  border: none;
}

table img{
  width: 60px;
}

#imagenActual, #imagenMiniatura{
  width: 100px;
}

label{
  margin: 15px;
}

/*Tabla de la parte de mensajes de la página configNiveles*/
#gestionNiveles th,
#gestionNiveles td {
  border: solid 1px black;
  padding: 1%;
  text-align: center;
}
#tablaPowerup{
  width: 95%;
}

#tablaPowerup th:first-child {
  width: 15%;
}

#tablaPowerup th:nth-child(2) {
  width: 15%;
}

#tablaPowerup th:nth-child(3) {
  width: 15%;
}

#tablaPowerup th:nth-child(4) {
  width: 10%;
}

#tablaPowerup th:nth-child(5) {
  width: 20%;
}

#tablaDinamica th:nth-child(2) > input[type=text] {
  width: 15%;
}

#tablaDinamica th:nth-child(3) {
  width: 40%;
}

#tablaDinamica td:nth-child(4) {
  width: 15%;
}

#gestionNiveles th:first-child {
  width: 45%;
}

#gestionNiveles th:nth-child(3) {
  width: 20%;
}

#gestionNiveles th:nth-child(4) {
  width: 15%;
}

#gestionNiveles td:nth-child(3) > input {
  width: 30%;
}

/* Estilos para el juego */
#juego {
  background-color: rgb(54, 138, 233);
}

/* Estilos para página conócenos */
main {
  background-color: #326F1E;
  width: 85%;
  font-size: 1.2em;
  text-align: center;
  border-radius: 30px;
  border: solid 2px;
  padding-bottom: 5%;
  margin: 0 auto;
  box-shadow: 2px 7px 16px 5px rgba(0, 0, 0, 0.28);
}

/* Estilo al pasar el cursor por encima de los enlaces*/
#niveles > a:hover,
#menu > a:hover,
nav > a:hover,
main > a:hover,
#gestor > a:hover,
#gestorPowerup > a:hover,
#gestorM > a:hover {
  background-color: #85471f;
}


/**
    MEDIAS QUERIES
    Implementado con Media Queries Level 4
 */

@media (width <= 1280px) {
  body{
    font-size: 15px;
  }
  #configMensajes,
  #gestionNiveles,
  #movMsg,
  #niveles,
  #gestorPowerup,
  #gestor,
  #gestorM,
  #anadirNiveles {
    width: 90%; 
  }
  nav > a{
    padding: 10px;
  }
  h1 {
    font-size: 2em; 
  }
  table {
    width: 90%; 
  }
  #tablaPowerup{
    width: 60%; /*NO SE CAMBIA*/
    font-size: 0.7em;
  }
}

/* Si el usuario padece de problemas vesticulares o tiene problemas de sensibilidad, si tiene activada esta opción en el navegador, se quitan las transiciones */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}