/* Estilos generales de la página */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Linefont:wght@100&display=swap');

body {
    background-color: #488531;
    padding: 1%;
    font-family: Fredoka;
    color: #EDC713;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos del formulario de datos del ranking */
form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > input {
    margin-bottom: 10px;
}

form > input[type=number] {
    width: 85px;
}

form > input[type=submit] {
    margin-top: 60px;
    border: solid 1px black;
    border-radius: 9px;
    color: #EDC713;
    background-color: #6D3916;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Fredoka;
}

/* Estilos del logo */
#logo {
    text-align: center;
    margin: 0 auto;
    width:50%;
}

#logo > img {
    width: 200px;
    margin: 0 auto 1%;
}

/* Estilos de las secciones de la página */
#gestor,
#gestorM,
#ranking,
#formulario {
    background-color: #326F1E;
    font-size: 1.4em;
    text-align: center;
    border-radius: 30px;
    border: solid 2px;
    padding-bottom: 3%;
    width: 55%;
    margin: 0 auto;
}

/* Estilos de los enlaces en las secciones */
#gestor > a,
#gestorM > a,
#ranking > a,
#formulario > a {
    text-decoration: none;
    padding: 0.6%;
    border: solid 1px black;
    border-radius: 9px;
    color: #EDC713;
    background-color: #6D3916;
}

/* Estilos específicos para enlaces en la sección "gestor" */
#gestor > a:nth-child(2) {
    left: 28.5%;
}

/* Posicionamiento relativo para los enlaces de las diferentes secciones */

#gestor > a,
#gestorM > a,
#ranking > a,
#formulario > a {
    position: relative;
}

/* Posicionamiento específico de enlaces en la sección "gestor" */
#gestor > a {
    right: 22%;
    bottom: 20px;
}

#gestor > table a {
    text-decoration: none;
}

#gestorM > a {
    right: 42%;
    top: 45px;
}

/* Estilos de tablas en las secciones "ranking" y "gestor" */
#ranking > table,
#gestor table {
    background-color: #6D3916;
    margin: 0 auto 5%;
    border: solid 1px black;
    border-collapse: collapse;
    width: 50%;
}

/* Estilos para celdas de tablas en "ranking" y "gestor" */
#ranking th,
#ranking td,
#gestor th,
#gestor td {
    border: solid 1px black;
    padding: 2%;
    text-align: center;
}

@media only screen and (max-width: 1352px) {
    #logo > img {
        width: 180px;
    }
    #gestor {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 1206px) {
    #logo > img {
        width: 120px;
    }
    #gestor {
        font-size: 1em;
    }
}

@media only screen and (max-width: 844px) {
    #logo > img {
        width: 80px;
    }
    #gestor {
        font-size: 0.5em;
    }
    #gestorM > a {
        right: 30%;
    }
    #gestorM {
        font-size: 1em;
    }
}