@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Linefont:wght@100&display=swap');


body{
    background-color: #488531;
    padding:20px;
}

#gestor{
    background-color:#326F1E;
    color:#EDC713;
    font-family: Fredoka;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px;
    padding-bottom: 60px;
    width:1000px;
    margin:0 auto;
}

#formulario{
    background-color:#326F1E;
    color:#EDC713;
    font-family: Fredoka;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px;
    padding-bottom: 60px;
    width:1000px;
    margin:0 auto;
}

#formulario > a{
    background-color:#326F1E;
    color:#EDC713;
    font-family: Fredoka;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px;
    padding-bottom: 60px;
    width:1000px;
    margin:0 auto;
}

#gestorM{
    background-color:#326F1E;
    color:#EDC713;
    font-family: Fredoka;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px;
    padding-bottom: 60px;
    width:1000px;
    margin:0 auto;
}

#gestorM > a {
    text-decoration: none;
    position:relative;
    right:335px;
    top:25px;
    padding:5px;
    border:solid 1px black;
    border-radius: 9px;
    color: #EDC713;
    background-color: #6D3916;
}

form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > input {
    margin-bottom: 10px;
}

form > input[type=number] {
    width:85px;
}

form > input[type=submit] {
    margin-top:60px;
    border:solid 1px black;
    border-radius: 9px;
    color: #EDC713;
    background-color: #6D3916;
    padding:10px;
    font-family: Fredoka;
    cursor:pointer;
    font-size:20px;
}

#gestor > a {
    text-decoration: none;
    position:relative;
    right:230px;
    bottom:20px;
    padding:5px;
    border:solid 1px black;
    border-radius: 9px;
    color: #EDC713;
    background-color: #6D3916;
}

#gestor > a:nth-child(2) {
    text-decoration: none;
    position:relative;
    left:275px;
    bottom:20px;
    padding:5px;
    border:solid 1px black;
    border-radius: 9px;
    color: #EDC713;
    background-color: #6D3916;
}

#gestor table{
    background-color:#6D3916;
    margin:0 auto;
    border:solid 1px black;
    border-collapse: collapse;
    width:500px;
}

#gestor th,td{
    border: solid 1px black;
    padding:8px;
    text-align:center;
}

td a{
    border:solid 1px black;
    border-radius: 3px;
    padding:2px;
    margin-left:7px;
    text-decoration: none;
}